.error { display: none; }

/**
 * Settings > ConvertKit
 */
body.settings_page_convertkit-mm {
	background: #f6f8fa;
}
body.settings_page_convertkit-mm #wpcontent {
	padding-left: 0;
}

/**
 * Header
 */
body.settings_page_convertkit-mm header {
	height: 98px;
	padding: 0 20px;
	background: url(../images/convertkit-long-inverted.svg) 20px 50% no-repeat;
	background-size: 200px auto;
	background-color: #212f4f;
}
body.settings_page_convertkit-mm h1 {
	margin: 0;
	padding: 0;
	font-weight: 400;
	color: #D2D8DD;
	text-indent: -9999px;
}
body.settings_page_convertkit-mm header a.convertkit-docs {
	float: right;
	margin: 20px 20px 0 0;
	padding: 0 0 0 30px;
	font-weight: 400;
	color: #cfd4d9;
	text-decoration: none;
	background: url(../images/help.svg) 0 0% no-repeat;
	background-size: 20px 20px;
}
body.settings_page_convertkit-mm header a.convertkit-docs:hover {
	color: #fff;
}
body.settings_page_convertkit-mm .wrap {
	margin-left: 20px;
}

/**
 * Notices
 */
body.settings_page_convertkit-mm .notice {
	margin-top: 0;
}

/**
 * Section
 */
body.settings_page_convertkit-mm .wrap .postbox {
	background: #fff;
	box-shadow: 0 2px 5px #0000000d;
	color: #373f45;
	margin: 0 0 30px 0;
	padding: 40px 30px 30px 30px;
	font-size: 14px;
	border: 1px solid #EDF2F4;
}
body.settings_page_convertkit-mm .wrap .postbox .section {
	margin-top: 40px;
}
body.settings_page_convertkit-mm .wrap .postbox h2 {
	margin: 0 0 30px 0;
	padding: 0 0 30px 0;
	font-size: 24px;
	font-weight: 600;
	border-bottom: 1px solid #EDF2F4;
}
body.settings_page_convertkit-mm .wrap .postbox p {
	font-size: 14px;
}
body.settings_page_convertkit-mm .wrap .postbox p.submit {
	padding: 0;
}
body.settings_page_convertkit-mm .wrap .postbox table.form-table tbody td div {
	display: inline-block;
	width: 50%;
}
body.settings_page_convertkit-mm .wrap .postbox .button {
	margin:  0 5px 0 0;
	padding: 4px 12px;
	font-size: 14px;

	/* Required for WordPress 5.x styling */
	height: auto;
	text-shadow: none;
	box-shadow: none;
}
body.settings_page_convertkit-mm .wrap .postbox .button-primary {
	background: #fb6970;
	border-color: #fb6970;
	color: #fff;
}
body.settings_page_convertkit-mm .wrap .postbox .button-primary:hover {
	background: #fb5058;
	border-color: #fb5058;
}
body.settings_page_convertkit-mm .wrap .postbox textarea.convertkit-monospace {
	font-family: monospace;
	padding: 20px;
}
